<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8" />
        <title>Ironbeers</title>
        <link rel="stylesheet" href="/stylesheets/styles.css" />
    </head>
    <body>
        <img src="images/beer.png" />
        <a href="/beers">Check the Beers!</a>
       <a href="/random-beer">Check a Random Beer</a>
    </body>
    </html>